div {
    overflow: hidden;

    border-radius: 6px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

button {
    font: inherit;

    display: flex;
    align-items: center;

    width: 100%;
    min-width: 10rem;
    padding: 0.35rem 0.5rem;

    cursor: pointer;
    text-align: left;

    color: #c3b3d1;
    border: none;
    background-color: #433352;

    gap: 0.5rem;
}

button:hover,
button:active,
.active {
    color: #150722;
    background-color: #9965dd;
}

img {
    width: 2rem;

    border-radius: 50%;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);

    object-fit: contain;
}

span {
    font-size: 0.8rem;
    font-weight: normal;

    margin: 0;
    padding: 0;
}
